html, body {
    width: 100%;
    height: 100%;
    background: rgb(38 70 83);
    /* remove the extra whites around */
    font-family: 'Roboto', sans-serif;
  }
  
html {

    box-sizing: border-box;
    --bgColorMenu : #2a9d8f;
    --duration: .7s;

}

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}

body{

    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #264653;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);

}

.menu{


    display: flex;
    /* Works well with 100% width  */
    width: 100%;
    font-size: 1.5em;
    padding: 0 2.85em;
    position: fixed;
    bottom: 0%;
    background-color: #2a9d8f;

}

.menu__item{

    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 100%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));

}

.menu__item::before{

    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color #2a9d8f, transform #2a9d8f;

}


.menu__item.active {

    transform: translate3d(0, -.8em , 0);
    --bgColorItem: #e9c46a;background-color :#2a9d8f;
}

.menu__item.active::before{

    transform: scale(1);
    background-color: var(--bgColorItem);

}

.icon{

    width: 2.6em;
    height: 3.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;

}

.menu__item.active .icon {

    animation: strok 1.5s reverse;

}

@keyframes strok {

    100% {

        stroke-dashoffset: 400;

    }

}

.menu__border{

    left: 0;
    bottom: 100%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    will-change: transform;
    background-color:#2a9d8f;
    transition: transform var(--timeOut , var(--duration));

}

.svg-container {

    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .menu{
        font-size: .8em;
    }
}

div#app .wrapper {
  display: flex;
  max-width: 544px;
  flex-wrap: wrap;
  padding-top: 0%;
  
  
}
div#app .card {
  box-shadow: #d8e2dc 0px 1px 6px, #d8e2dc 0px 1px 4px;
  max-width: 144px;
  margin: 12px;
  transition: 0.15s all ease-in-out;
	width: 76px;
	height: 140px;
	display: flex;
  

}
div#app .card:hover {
  transform: scale(1.1);
}



